$font-editor: "Monaco", "Fira Mono", "Consolas", "Ubuntu Mono", "Courier New", "monospace";
$font-ui: "Segoe UI", "serif";

$color-tab-active: #222;

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: $font-ui;
}

.tabs {
  user-select: none;

  &__tabs {
    display: flex;
    border-bottom: 1px solid $color-tab-active;
  }

  &__panes {
    padding: 10px;
  }
}

.tab {
  width: 200px;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;

  &--active {
    background: $color-tab-active;
  }
}
